body {
    font-family: sans-serif;
}
.head-name {
    color: aqua;
    text-shadow: 2px 2px 5px #70a4db;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #20a61e;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(48, 22, 181, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: #b1f5b4;
}

.card:hover {
    transform: scale(1.05);
    background-color: #7fd7ae;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body svg {
    width: 100px;
    height: 100px;
    fill: #ccc;
}

.card-footer {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.card-footer button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-footer button:hover {
    background-color: #0069d9;
}


.visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#algorithm-header{
    color: rgb(213, 47, 255);
}


#array-bars {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    width: 90%;
    margin-bottom: 20px;
}

#bar {
    width: 30px;
    margin: 0 2px;
    background-color: #007bff;
    transition: height 0.2s;
}

.head-name {
    text-align: center;
    margin-top: 20px;
}

.array-bars {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.bar {
    width: 30px;
    margin: 0 2px;
    background-color: #579be3;
    transition: height 0.2s;
}
.array-nodes {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
  
.node {
    width: 30px;
    height: 30px; 
    background-color: #558a7b;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 0 2px; 
    text-align: center;
}


.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c75b3;
}

/* for adding cpp code */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* for pathfinding algo */

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-row {
    display: flex;
  }
  
  .grid-node {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .grid-node-start {
    background-color: green;
  }
  
  .grid-node-end {
    background-color: red;
  }
  
  .grid-node-wall {
    background-color: black;
  }
  
  .grid-node-visited {
    background-color: #f0a500;
  }
  
  .grid-node-shortest-path {
    background-color: #4caf50;
  }
  